<div class="row justify-content-md-center">
        <div class="col-md-5 col-md-offset-4">
            <div class="panel panel-primary" >
                <div class="panel-heading justify-content-md-center">Update Your Details</div>
                <div class="panel-body" >
    
                    <form class="jumbotron vertical-center" [formGroup]="updateForm" (ngSubmit)="update()">
                       <div class="form-group">
                                <label>Name</label>
                                <input type="text" formControlName="name"  [(value)]="name"  class="form-control" [ngClass]="{
                                    'is-invalid': submitted && updateForm.controls.name.errors}">
                                <div *ngIf="submitted && updateForm.controls.name.errors" class="text text-danger">
                                        Name contains invalid character.
                                </div>
                        </div>
                        
                        <input type="checkbox" (click)="changePassword()">Mark this to change password
                        
                        <div class="form-group" *ngIf="changePswrd">
                                <label>Password</label>
                                <input type="password" formControlName="password"   class="form-control" [ngClass]="{
                                    'is-invalid':submitted && updateForm.controls.password.errors}">
                                <div *ngIf="submitted && updateForm.controls.password.errors" class="text text-danger">
                                    Your password should contain at least an uppercase, a lowercase character,a number and a special character.
                                </div>
                        </div>
    
                        <div class="form-group" *ngIf="changePswrd">
                                <label>Confirm Password</label>
                                <input type="password" formControlName="confirmPassword"  class="form-control">
                                <div *ngIf="updateForm.value.password!==updateForm.value.confirmPassword" class="text text-danger">
                                    Password and Confirm Password are not matching.
                                </div>
                        </div>
                        
                        <br>
                        <button type="submit"  class="btn btn-success" >Update</button>
                        <div *ngIf="errorMessage!=null" >
                            <span class="text-danger">{{errorMessage}}</span>
                          </div>
                          <div *ngIf="successMessage!=null">
                            <span class="text-success">{{successMessage}}</span>
                          </div>
                          <div *ngIf="errorMsg!=null" >
                            <span class="text-danger">{{errorMsg}}</span>
                          </div>
                          
                    </form>
                    <br>
            
            </div>
            </div>
        </div>
    </div>