<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="navbar-brand" [routerLink]='["/dashboard"]'>Home</a></li>
      <li class="nav-item"><a class="navbar-brand" [routerLink]='["/cart"]'>Cart</a></li>
      <li class="nav-item"><a class="navbar-brand" *ngIf="loggedIn || isUserLoggedIn" [routerLink]='["/wishlist"]'>Wishlist</a></li>
      
      <!--<li class="nav-item"><a class="navbar-brand"  [routerLink]='["/deals"]'>Deals</a></li>
      <li class="nav-item"><a class="navbar-brand"  [routerLink]='["/search"]'>Search</a></li>-->   
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
        <input #myInput [(ngModel)]="name" (input)="filterItem(myInput.value)" placeholder="Search here.." class="form-control mr-sm-2" >
        <div *ngFor="let item of filteredItems">
          {{item.value}}
        </div>
        <button type="submit"  class=" btn-primary " (click)="search()" class="btn btn-outline-success my-2 my-sm-0"><a [routerLink]='["/search"]'> Search</a></button>
      </form>
    -->
    <ul class="navbar-nav mr-right">
        <li class="nav-item"><a class="navbar-brand" *ngIf="loggedIn || isUserLoggedIn" [routerLink]='["/address"]'>Details</a></li>
      <li class="nav-item"><a class="navbar-brand" *ngIf="loggedIn || isUserLoggedIn" [routerLink]='["/info"]'>User Info</a></li>
      <li class="nav-item"><a class="navbar-brand" *ngIf="!loggedIn && !isUserLoggedIn" [routerLink]='["/signup"]'>Sign Up</a></li>
      <li class="nav-item"><a class="navbar-brand" *ngIf="!loggedIn && !isUserLoggedIn" [routerLink]='["/login"]'>Login</a></li>
      <li class="nav-item"><a class="navbar-brand" *ngIf="loggedIn || isUserLoggedIn" [routerLink]='["/login"]' (click)="logout()">Logout</a></li>
      
    </ul>
    <div>
    
      

      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
