<div class="row justify-content-md-center">
    <div class="col-md-5 col-md-offset-4">
        <div class="panel panel-primary" >
            <div class="panel-heading">Sign Up</div>
            <div class="panel-body">

                <form class="jumbotron vertical-center" [formGroup]="signupForm" (ngSubmit)="signup()">
                    
                    <div class="form-group">
                            <label>Name</label>
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{
                                'is-invalid': submitted && signupForm.controls.name.errors}">
                            <div *ngIf="submitted && signupForm.controls.name.errors" class="text text-danger">
                                Name contains invalid character.
                            </div>
                    </div>

                    <div class="form-group">
                            <label>Email</label>
                            <input type="email" formControlName="email" class="form-control" [ngClass]="{
                                'is-invalid': submitted && signupForm.controls.email.errors}">
                            <div *ngIf="submitted && signupForm.controls.email.errors" class="text text-danger">
                                Enter a valid Email-id.
                            </div>
                    </div>

                    <div class="form-group">
                            <label>Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{
                                'is-invalid': submitted && signupForm.controls.password.errors}">
                            <div *ngIf="submitted && signupForm.controls.password.errors" class="text text-danger">
                                Your password should contain at least an uppercase, a lowercase character,a number and a special character.
                            </div>
                    </div>

                    <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" formControlName="confirmPassword" class="form-control" >
                            <div *ngIf="submitted && signupForm.value.password!==signupForm.value.confirmPassword" class="text text-danger">
                                Password and Confirm Password are not matching.
                            </div>
                    </div>

                    

                    <br>
                    <button type="submit"  class="btn btn-primary" >Register</button>
                    <div *ngIf="errorMessage!=null" >
                            <span class="text-danger">{{errorMessage}}</span>
                          </div>
                          <div *ngIf="successMessage!=null">
                            <span class="text-success">{{successMessage}}</span>
                          </div>
                          <div *ngIf="errorMsg!=null" >
                            <span class="text-danger">{{errorMsg}}</span>
                          </div>
                </form>
                <br>
        
        </div>
        </div>
    </div>
</div>